---
name: "Lint Code Base"

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

# Minimal permissions following principle of least privilege
permissions:
  contents: read

jobs:
  build:
    name: "Lint Code Base"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      # Checkout the code base
      - name: "Checkout Code"
        uses: actions/checkout@v6
        with:
          # Full git history needed for list of changed files w/in `super-linter`
          fetch-depth: 0

      # Install ESLint & plugin (not in package.json; targeting zero dependencies)
      - name: Install ESLint Plugins
        run: npm install --no-save --engine-strict=false eslint eslint-plugin-n

      # Run Linter against code base
      - name: Super-linter
        uses: super-linter/super-linter/slim@v8
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LOG_LEVEL: NOTICE
          SUPPRESS_POSSUM: true
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JSON: true
          VALIDATE_JSONC: true
          VALIDATE_MARKDOWN: true
          VALIDATE_YAML: true
